@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$app-font-family: 'Montserrat', sans-serif;
$body-bg: #3DA485;
$primary-color: #FDFCDC;
$accent-color: #FED9B7; 
$dark-color: #210203;
$error-color: #830303;
$name-font-size: 1.3rem; // 20px
$description-font-size: 1.15rem; // 18px
$button-font-size: 1.2rem; // 19px
$add-info-font-size: 0.9rem; // 14px
$title-font-size: 2.2rem; // 35px
$ingredients-font-size: 1rem; // 16px
$default-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
$focus-hover-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
$app-border-radius: 15px;
$button-search-bar-weight: 500;